{
	"name": "mailworker",
	"main": "src/index.js",
	"compatibility_flags": [
		"nodejs_compat"
	],
	"compatibility_date": "2025-12-26",
	"workers_dev": true,
	"preview_urls": true,
	"vars": {
		"WEBHOOK_URL": "<webhook url>"
	},
        "observability": {
                "enabled": true,
                "head_sampling_rate": 1
        },
	"routes": [
		{
			"pattern": "<worker custom domain>",
			"zone_name": "<root domain>",
			"custom_domain": true
		}
	],
	"send_email": [
		{
			"name": "EMAIL",
			"allowed_destination_addresses": [
				"<receiver email address>"
                        ]
		}
	]
}
